<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Gem Prices</h3>
  </div>
  <div class="panel-body">
    <div class="col-lg-6">
      <div class="alert alert-info text-center">
        <h3>Sell 100 Gems <span class="glyphicon glyphicon-arrow-right"></span> {{quantity.gem_to_gold/10000}} Gold
        </h3>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="alert alert-info text-center">
        <h3>Buy 100 Gems <span class="glyphicon glyphicon-arrow-right"></span> {{quantity.gold_to_gem/10000}} Gold
        </h3>
      </div>
    </div>
  </div>
</div>

